.body {
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }   
h1, h2, h3,p {
    margin: 0;
    /* padding: 0 auto; */
}
ul{
    line-height: 1.5;
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
} 
.container {
max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.link {
    font-style: normal;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

.header .logostudio {
    color: #2E2F42;
}

.logostudio {
    display:block
    color: #F4F4FD;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    /* padding-right: 40px; */
    padding-bottom: 18px;
}

.navigation {
    outline:red solid 1px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    
  
}
.container-link{

    display:flex;
    flex-grow: 2;    
}
.container-logo{
    display:block;
}
.container-address{
    display:block;
}


.navigation-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 2;

}
.navigation-list .link {
    color: #2E2F42;
    padding-right: 40px
}

.navigation-list .link:hover {
    color: #404BBF;
}

.navigation-list .link:active {
    text-transform: none;
    color: #404BBF;
}

.navigation-list .link:focus {
    text-transform: none;
    color: #404BBF;
}

.contact {
    font-style: normal;
}

.contact-list .link {
    color: #434455;
}

.contact-list .link:hover {
    color: #404BBF;
}

.contact-list .link:active {
    color: #404BBF;
}

.contact-list .link:focus {
    color: #404BBF;
}


.titleone {
    width: 496px;
    display: block;
    margin-bottom: 48px;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align:center;
    padding: 48px;

    margin: 0 auto;
}
.hero {
    background: #2E2F42;
    padding: 188px 0;
}

.button {
    width: 163px;
    height: 60px;
    display:block;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #4D5AE5;
    outline: none;
    cursor: pointer;
    padding: 16px 32px;
    padding-inline: 0;
    margin:0 auto;
}
.button:hover {
    background: #404BBF;
}
.button:focus {
    background: #404BBF;
}
.section-features {
    padding: 188px 0;


}
.section-features .list-features .titlethree {
    line-height: 1.20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-team {
    padding:240 px 0;
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team .list-team {
    display: flex;
    justify-content: space-between;
}

.titletwo {
    display: block;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.20;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    padding-bottom:  72px;
}
.titlethree {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    padding-bottom: 8px;

}
.our-team .container-image {
    margin: 0 auto;
    padding: 15px;
}

.our-team .titletwo {
    text-align: center;
    line-height: 1.11;
    
}


.team-card .titlethree {
    text-align: center;
    line-height: 1.20;
    
}
.team-card-paragraf{
    text-align: center;
    padding-bottom: 32px;
}

.list-team .team-card {
    background-color: #FFFFFF;
}

.team-card {
    font-size: 16px;
    margin: 0 auto;
}

.list-portfolio {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 8px;

}

.img {
    display: block;
    max-width: 100%;
}
.list-portfolio{
    flex-basis: calc((100% - 16px) / 3);
}
.portfolio-card{
    background-color: #FFF;
    margin: 0 auto;
    padding-bottom: 32px;
    border-bottom:1px;
}
.portfolio{
    background-color: #FFFFFF;
    padding: 120px 0;
}

.portfolio .titletwo {
    text-align: center;
    line-height: 1.11;
}
.portfolio-card .titlethree {
    line-height: 1.20;
}
.footer {
    background-color: #2E2F42;
}
.footer-text {
    color: #F4F4FD;
    display: block;
    width: 264px;
    text-align: left;
}
.footer-block{
    display: block;
    padding: 100px 0;
}